//カラー
$font-color-black:#3E3E3E;
$font-color-white: #FFFFFF;
$key-color-gray: #F3F3F3;
$key-color-black: #3E3E3E;
$key-color-white: #FFFFFF;
$key-color-yellow: #FFAA3B;
$key-color-blue: #4973FF;
$key-color-red: #FF4646;

//フォント
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
$font-ja:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$font-en: 'Montserrat', sans-serif;


//ブレークポイント
$layout-width-inner: 1200px;

$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner})",
    "pc": "(min-width: #{$layout-width-inner})",
);

//メディアクエリー
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

//リセットcss
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    line-height: 1.6;
    background: #F3F3F3;
    font-family: $font-ja;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

table,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.inner {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: inherit;

    @include mq('tab') {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mq('sp') {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.title {
    font-size: 36px;
    font-family: $font-en;
    font-weight: 600;

    @include mq('sp') {
        font-size: 30px;
    }
}

/*========================================
header
========================================*/

.header {
    height: 83px;
    line-height: 83px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF1A;
    z-index: 100;

    @include mq('sp') {
        height: 68px;
        line-height: 68px;
    }
}

.header_inner {
    @include mq('sp') {
        display: flex;
    }
}

.header_title_sp {
    font-family: $font-en;
    color: $font-color-black;
    font-size: 23px;
    @include mq('pc') {
        display: none;
    }

    @include mq('tab') {
        display: none;
    }

    @include mq('sp') {
        display: block;
    }
}

.header_nav {
    display: flex;
    justify-content: center;

    @include mq('sp') {
        display: none;
    }
}

.header_nav_item {
    &:not(:last-child) {
        margin-right: 40px;
    }
    a {
        color: $font-color-black;
        font-family: $font-en;
        padding-bottom: 8px;
        transition: transform 0.5s ease 0s;
        position: relative;

        @include mq('pc') {
            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 1px;
                background: $font-color-black;
                transform: scale(0);
                transition: transform .3s;
            }

            &:hover::after {
                transform: scale(1);
            }
        }

        @include mq('tab') {
            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 1px;
                background: $font-color-black;
                transform: scale(0);
                transition: transform .3s;
            }

            &:hover::after {
                transform: scale(1);
            }
        }
    }
}

/*========================================
drawer
========================================*/

.drawer_icons {
   position: fixed;
   width: 26px;
   height: 20px;
   top: 24px;
   right: 16px;
   z-index: 101;
   transition: transform 0.5s ease 0s;

   @include mq('pc') {
       display: none;
   }

   @include mq('tab') {
    display: none;
    }
   
   @include mq('sp') {
       display: block;
   }

    &.is-active {
        transform: translateX(-300px);

        .drawer_icon_bar1 {
            top: 8px;
            transform: rotate(45deg);
        }
        
        .drawer_icon_bar2 {
            opacity: 0;
            transform: translate(0%, -50%); 
        }
        
        .drawer_icon_bar3 {
            top: 8px;
            transform: rotate(-45deg);
        }
    }

}

.drawer_icon_bars {
    width: 26px;
    height: 20px;
    display: block;
    position: relative;
}

.drawer_icon_bar1,
.drawer_icon_bar2,
.drawer_icon_bar3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 4px;
    border-radius: 50px;
    background: $key-color-black;
    transition: ease 0.3s;
}

.drawer_icon_bar1 {
    top: 0;
}

.drawer_icon_bar2 {
    top: 8px;
}

.drawer_icon_bar3 {
    top: 16px;
}


.drawer_content {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: $key-color-white;
    z-index: 102;
    transform: translateX(105%);
    transition: transform 0.5s ease 0s;

    &.is-active {
        transform: translateX(0);
    }
}

.drawer_items {
    text-align: center;
    padding: 161px 0;
}

.drawer_item {
    font-size: 18px;
    font-family: $font-en;
    color: $font-color-black;
    &:not(:last-child) {
        margin-bottom: 32px;
    }
    a {

    }
}

.drawer_background {
    background: rgba($key-color-black,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    
    &.is-active {
        display: block;
    }
}

/*========================================
mv
========================================*/

.mv {
    margin-top: 83px;
    background: url(../img/mv.png)no-repeat center center/cover;

    @include mq('tab') {
        background: url(../img/mv.png)no-repeat left 35% center/cover;
    }

    @include mq('sp') {
        margin-top: 68px;
        background: url(../img/mv.png)no-repeat left 23% center/cover;
    }
}

.mv_wrapper {
    width: 50%;
    margin-left: auto;
    padding: 153px 0;

    @include mq('sp') {
        width: 100%;
        padding: 161px 0 230px;
    }
}

.mv_title {
    font-size: 32px;
    font-weight: 600;
    font-family: $font-ja;
    line-height: (48 / 32);
    color: $font-color-black;

    @include mq('sp') {
        font-size: 24px;
        line-height: (40 / 24);
    }
}

.mv_sub_title {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: $font-ja;
    line-height: (28 / 18);
    color: $font-color-black;

    @include mq('sp') {
        font-size: 14px;
        line-height: (20 / 14);
        margin-top: 32px;
    }
}

.mv_button {
    margin-top: 40px;

    @include mq('sp') {
        margin-top: 30px;
        text-align: center;
    }
    a {
        text-align: center;
        background: $key-color-yellow;
        display: inline-block;
        width: 282px;
        height: 50px;
        line-height: 50px;
        color: $font-color-white;
        font-size: 18px;
        font-weight: 600;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
        border-radius: 10px;

        @include mq('sp') {
            width: 222px;
            height: 48px;
            line-height: 48px;
            font-size: 16px;
        }
    }
}

/*========================================
news
========================================*/

.news {
    padding: 120px 0;
    box-sizing: 0 5px 12px rgba(0, 0, 0, 0.16);

    @include mq('sp') {
        padding: 0;
        margin-top: -40px;
    }
}

.news_inner {
    
}

.news_wrapper {
    background: $key-color-white;
    padding: 60px 60px 40px;

    @include mq('sp') {
        padding: 40px 0;
    }
}

.news_title {
    text-align: center;
    color: $font-color-black;
}

.news_list {
    margin-top: 60px;

    @include mq('sp') {
        margin-top: 40px;
    }
}

.news_list_row {
    display: flex;
    border-top: 1px solid #CECDCD;
    padding: 38px 0;
    align-items: center;
    position: relative;
    transition: all 0.3s ease 0s;

    &:hover {
        background: #4973FF1A;
    }
    
    &:last-child {
        border-bottom: 1px solid #CECDCD;
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 11px;
        height: 21px;
        background: url(../img/news-arrow@2x.png)no-repeat center center/contain;
        transform: translateX(-50%);
    }

    @include mq('sp') {
        display: block;
        padding: 16px;
    }
}

.news_meta {
    display: flex;

    @include mq('sp') {
        align-items: center;
    }
}

.news_list_date {
    font-family: $font-en;
    font-size: 18px;
    color: $font-color-black;
    font-weight: 400;
    margin-right: 40px;
    width: 100px;

    @include mq('sp') {
        margin-right: 0;
        font-size: 14px;
    }
}

.news_list_text {
    font-family: $font-ja;
    font-size: 14px;
    color: $font-color-black;
    font-weight: 600;
    width: 121px;
    height: 30px;
    line-height: 30px;
    border: 2px solid $key-color-blue;
    border-radius: 50px;
    text-align: center;
    margin-right: 40px;
    background: $key-color-white;

    @include mq('sp') {
        font-size: 12px;
        font-weight: 500;
        width: 81px;
        height: 20px;
        line-height: 19px;
    }
}

.news_list_excerpt {
    font-family: $font-ja;
    font-size: 18px;
    color: $font-color-black;
    font-weight: 600;
    margin-right: 56px;

    @include mq('sp') {
        font-weight: 500;
        font-size: 14px;
        line-height: (20 / 14);
        margin-top: 16px;
        margin-right: 41px;
    }
}

.news_icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 23px;
    width: 23px;
    background: url(../img/news-arrow@2x.png) no-repeat center center / contain;

    @include mq('sp') {
        right: 16px;
        width: 21px;
        height: 21px;
    }
}

.news_button {
    margin-top: 40px;
    text-align: center;
    
    a {
        display: inline-block;
        width: 236px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        font-family: $font-en;
        color: $font-color-black;
        border: 1px solid #707070;
        letter-spacing: 4px;
        transition: all 0.3s ease 0s;
        &:hover {
            background: $key-color-black;
            color: $font-color-white;
        }
    }
}

/*========================================
service
========================================*/

.service {

}

.service_background {
    background: $key-color-black;
    height: 400px;
}

.service_title {
    text-align: center;
    color: $font-color-white;
    padding-top: 60px;

    @include mq('sp') {
        padding-top: 40px;
    }
}

.service_contents {
    display: flex;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    background: $key-color-white;
    margin-top: -236px;
    padding: 60px 45px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.16);

    @include mq('tab') {
        padding: 50px 35px;
    }

    @include mq('sp') {
        display: block;
        margin-top: -276px;
        padding: 40px 16px;
    }
}

.service_content {
    &:not(:last-child) {
        margin-right: 90px;

        @include mq('tab') {
            margin-right: 60px;
        }

        @include mq('sp') {
            margin-right: 0;
            margin-bottom: 56px;
        }
    }
}

.service_content_img {
    text-align: center;
    img {
        width: 50px;
        height: 33px;
    }
}

.service_content_title {
    text-align: center;
    margin-top: 23px;
    font-weight: 600;
    font-size: 20px;
    line-height: (28 / 20);
    letter-spacing: 4px;
    font-family: $font-en;

    @include mq('sp') {
        font-size: 20px;
        line-height: (24 / 20);
    }
}

.service_content_text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: ( 24/14 );
    font-family: $font-ja;
}

/*========================================
results
========================================*/

.results {
    margin-top: 120px;
    background: $key-color-black;
    padding: 60px 0;
    margin-left: 40px;

    @include mq('sp') {
        padding: 40px 0;
        margin-left: 0;
    }
}

.results_inner {
    margin-left: 60px;

    @include mq('sp') {
        margin-left: 0;
        padding: 0 16px;
    }
}

.results_title {
    color: $font-color-white;
}

.results_contents {
    padding-top: 60px;
    display: flex;

    @include mq('sp') {
        padding-top: 40px;
    }
}

.results_content {
    width: 400px;
    background: $key-color-white;
    &:not(:last-child) {
        margin-right: 40px;
    }

    @include mq('sp') {
        width: 274px;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.results_content_img {
    overflow: hidden;
    img {
        width: 100%;
        vertical-align: top;
        transition-duration: 0.3s;
        &:hover {
            transform: scale(1.2);
            transition-duration: 0.3s;
        }
    }
}

.results_content_texts {
    padding: 16px;

    @include mq('sp') {
        padding: 12px;
    }
}

.results_content_title {
    font-size: 20px;
    font-weight: 600;
    color: $font-color-black;
    font-family: $font-ja;

    @include mq('sp') {
        font-size: 14px;
    }
}

.results_content_text {
    padding-top: 16px;
    line-height: (24 / 16);
    font-weight: 500;
    font-family: $font-ja;
    color: $font-color-black;

    @include mq('sp') {
        padding-top: 12px;
        font-size: 12px;
        line-height: (18 / 12);
    }
}

.page_nation {
    display: flex;
    margin-top: 44px;
    position: relative;
    @include mq('sp') {
        justify-content: center;
        margin-top: 24px;
    }
}

.page_nation_icon {
    margin-right: 20px;
    text-align: center;

    a {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: $key-color-white;
        border-radius: 50px;
    }

    span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid $key-color-white;
        border-radius: 50px;
        line-height: 19px;
    }
}

.results_button {
    margin-top: 100px;

    a {
        display: inline-block;
        width: 298px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        font-family: $font-en;
        letter-spacing: 4px;
        color: $font-color-white;
        border: 1px solid $key-color-white;
        transition: all 0.3s ease 0s;
        &:hover {
            background: $key-color-white;
            color: $font-color-black;
        }

        @include mq('sp') {
            width: 100%;
            font-size: 18px;
            height: 54px;
            line-height: 54px;
        }
    }

    @include mq('sp') {
        text-align: center;
    }
}

/*========================================
swiper
========================================*/
.swiper-slide {
    max-width: 400px;
    min-width: 400px;
    background: #fff;

    @include mq('tab') {
        max-width: 400px;
    }

    @include mq('sp') {
        max-width: 274px;
        min-width: 274px;
    }
}

.swiper-pagination {
    
    @include mq('sp') {
        left: 50%;
        transform: translateX(-50%);
    }
}

.swiper-pagination {
    margin: 0 auto;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: $key-color-white;
    opacity: 1;
    
    &:not(:last-child) {
        margin-right: 20px;
    }
}

.swiper-container {
    margin-bottom: 40px;
    overflow: hidden;
}

.swiper-pagination-bullet-active {
    box-shadow: 0 0 0 3px $key-color-black, 0 0 0 4px #fff;
    background-color:#fff;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    
}

/*========================================
price
========================================*/

.price {
    padding-top: 120px;

    @include mq('sp'){
        padding-top: 40px;
    }
}

.price_title {
    text-align: center;
}

.price_table {
    width: 960px;
    margin: 0 auto;
    border: 1px solid $key-color-black;
    border-collapse: collapse;
    margin-top: 60px;

    @include mq('tab') {
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }

    @include mq('sp') {
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }
}

.price_table_row {
    border-bottom: 1px solid $key-color-black;
}

.price_table_item {
    text-align: center;
    border-right: 1px solid $key-color-black;
    border-bottom: 1px solid $key-color-white;
    background: $key-color-black;
    color: $font-color-white;
    font-family: $font-en;
    font-size: 24px;
    padding: 16px 0;
    font-weight: 600;

    @include mq('sp') {
        font-size: 20px;
    }
}

.price_table_price{
    text-align: left;
    font-size: 24px;
    font-family: $font-en;
    color: $key-color-black;
    padding: 16px 0 16px 40px;
    font-weight: 600;
    background: $key-color-white;

    @include mq('sp') {
        padding: 16px 0 16px 20px;
        font-size: 20px;
    }
}

.price_supplement {
    font-size: 12px;
    font-weight: 500;
    font-family: $font-ja;
    margin-top: 12px;
    margin-left: 120px;

    @include mq('tab') {
        margin-left: 0;
    }

    @include mq('sp') {
        margin-top: 8px;
        margin-left: 0;
    }
}

/*========================================
comments
========================================*/

.comments {
    padding: 144px 0 120px;

    @include mq('tab') {
        padding: 120px 0;
    }

    @include mq('sp') {
        padding: 60px 0 0;
    }
}

.comments_inner {
    display: flex;
}

.comments_wrapper {
    background: $key-color-white;
    width: 666px;
    padding: 120px 60px;

    @include mq('tab') {
        width: 100%;
        padding: 60px 50px;
    }

    @include mq('sp') {
        padding: 40px 20px;
        width: 100%;
    }

}

.comments_item {
    display: flex;
    margin-top: 60px;

    @include mq('sp') {
        margin-top: 40px;
    }
}

.comments_item_img { 
    margin-right: 32px;

    img {
        max-width: 100px;
        max-height: 100px;
        @include mq('sp') {
            max-width: 60px;
            max-height: 60px;
        }
    }
 }

.comments_item_comment {
    font-weight: 500;
    line-height: (24 / 16);
    color: $font-color-black;
    font-family: $font-ja;

    @include mq('sp') {
        line-height: (20 / 14);
        font-size: 14px;
    }

}

.comments_right_img {
    margin: auto 0;

    @include mq('tab') {
        display: none;
    }

    @include mq('sp') {
        display: none;
    }
}

.comments_background {
    top: 148px;
    left: 0;
    background: $key-color-black;
    width: 980px;
    height: 576px;
    margin-top: -480px;

    @include mq('tab') {
        margin-top: -420px;
        height: 520px;
        width: 100%;
    }

    @include mq('sp') {
        width: 100%;
        margin-top: -372px;
        height: 425px;
    }
}

/*========================================
qa
========================================*/

.qa {
    background: url(../img/qa-bg.png) no-repeat center center/cover;
    padding: 60px 0 120px;

    @include mq('sp') {
        padding: 40px 0 60px;
    }
}

.qa_title {
    text-align: center;
    color: $font-color-black;
}

.qa_items {
    width: 50%;
    margin-left: auto;
    margin-top: 60px;

    @include mq('sp') {
        width: 100%;
        margin-top: 40px;
    }
}

.qa_item {
    padding: 20px;
    background: $key-color-white;
    border-radius: 4px;

    &:not(:first-child) {
        margin-top: 32px;

        @include mq('sp') {
            margin-top: 24px;
        }
    }

    @include mq('sp') {
        padding: 16px;
    }
}

.qa_item_wrapper {
    display: flex;
    position: relative;
}

.qa_item_icon {
    background: $key-color-blue;
    border-radius: 50px;
    color: $font-color-white;
    font-family: $font-en;
    width: 24px;
    height: 24px;
    text-align: center;
    font-weight: 600;
    margin: auto 16px auto 0;
}

.qa_item_q {
    font-family: $font-ja;
    font-weight: 600;
    line-height: (24 / 16);
}

.qa_item_icons {  
    position: absolute;
    top: 50%;
    right: 16px;
    width: 17px;
    height: 17px;
    transform: translateY(-50%);
    &.is-open {
        .qa_item_icon_p { 
            transform: rotateX(90deg);
        }
    }
}

.qa_item_icon_m {
    width: 17px;
    height: 3px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: $key-color-blue;
}

.qa_item_icon_p {
    width: 3px;
    height: 17px;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    background: $key-color-blue;
    transition: all 0.3s ease 0s;
}

.qa_item_a {
    margin-top: 20px;
    padding: 16px;
    background: #3B69FF33;
    line-height: (24 / 16);
    font-weight: 500;
    font-family: $font-ja;
    border-radius: 4px;
    display: none;

    @include mq('sp') {
        font-size: 14px;
        padding: 12px;
        line-height: (20 / 14);
    }
}

/*========================================
access
========================================*/ 

.access {
    background: $key-color-black;
    padding: 120px 100px;
    margin-right: 300px;

    @include mq('tab') {
        margin-right: 0;
        padding: 60px 0 30px 20px;
    }

    @include mq('sp') {
        margin-right: 0;
        padding: 40px 16px 24px;
    }
}

.access_title {
    color: $font-color-white;
}

.access_address {
    margin-top: 60px;
    font-weight: 500;
    font-family: $font-ja;
    line-height: (24 / 16);
    color: $font-color-white;

    @include mq('sp') {
        margin-top: 40px;
        font-size: 14px;
        line-height: (20 / 14);
    }
}

.access_button {
    margin-top: 32px;
    @include mq('tab') {
        display: none;
    }
    @include mq('sp') {
        display: none;
    }
    a {
        display: inline-block;
        width: 314px;
        height: 64px;
        text-align: center;
        border: 1px solid $font-color-white;
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: 600;
        line-height: 64px;
        color: $font-color-white;
        transition: all 0.3s ease 0s;
        &:hover {
            background: $key-color-white;
            color: $font-color-black;
        }
    }
}

.access_iframe {
    text-align: right;
    margin-top: -400px;
    
    @include mq('tab') {
        margin-top: 0;
        background: $key-color-black;
    }

    @include mq('sp') {
        margin-top: 0;
        background: $key-color-black;
    }
    
    iframe {
        width: 726px;
        height: 520px;

        @include mq('tab') {
            width: 100%;
            height: 500px;
        }

        @include mq('sp') {
            width: 100%;
            height: 241px;
        }
    }
}

.access_button_sp {
    @include mq('pc') {
        display: none;
    }
    @include mq('tab') {
        display: block;
        text-align: center;
        margin-top: 40px;
        padding-bottom: 60px;
    }
    @include mq('sp') {
        display: block;
        text-align: center;
        margin-top: 24px;
        padding-bottom: 60px;
    }
    a {
        display: inline-block;
        width: 314px;
        height: 64px;
        text-align: center;
        border: 1px solid $font-color-white;
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: 600;
        line-height: 64px;
        color: $font-color-white;
        transition: all 0.3s ease 0s;
        font-family: $font-en;
        &:hover {
            background: $key-color-white;
            color: $font-color-black;
        }

        @include mq('sp') {
            width: 100%;
        }
    }
}

/*========================================
contact
========================================*/ 

.contact {
    background: url(../img/contact-bg.png)no-repeat center center/cover;
    padding: 60px 160px;
    margin-top: 120px;

    @include mq('tab') {
        padding: 40px;
    }

    @include mq('sp') {
        padding: 40px 0;
        margin-top: 0;
    }
}

.contact_inner {

}

.contact_contents {
    background: $key-color-white;
    border-radius: 12px;
}

.contact_img {
    background: url(../img/contact1.png) no-repeat center center/cover;
    padding: 60px 0;
    border-radius: 12px 12px 0 0;
    padding: 40px 16px;
}

.contact_title {
    text-align: center;
    color: $font-color-white;
}

.contact_lead {
    text-align: center;
    color: $font-color-white;
    margin-top: 16px;
    font-weight: 500;
    font-family: $font-ja;

    @include mq('sp') {
        font-size: 14px;
        line-height: (20 / 14);
        text-align: left;
    }
}

.contact_form {
    padding: 71px 160px;

    @include mq('tab') {
        padding: 40px 100px;
    }

    @include mq('sp') {
        padding: 40px 12px;
    }
}

.contact_form_dl {

}

.contact_form_row {
    display: flex;
    &:not(:last-child) {
        margin-bottom: 52px;
    }
    @include mq('sp') {
        display: block;
    }
}

.contact_form_label {
    width: 149px;
    margin-right: 72px;
    font-family: $font-ja;
    font-size: 16px;
    font-weight: 500;
    @include mq('tab') {
        margin-right: 40px;
    }
    label {
        &.is-required {
            display: inline-block;
            position: relative;

            &::after {
                content: "必須";
                position: absolute;
                top: 50%;
                right: -50px;
                color: $font-color-white;
                text-align: center;
                background: #FF4646;
                border-radius: 2px;
                font-size: 12px;
                transform: translateY(-50%);
                width: 40px;
                height: 16px;
                line-height: 16px;
            }
            
        }
    }
}

.contact_form_input {
    width: calc(100% - 149px);
    margin: 0;
    padding: 0;
    @include mq('sp') {
        width: 100%;
        margin-top: 16px;
    }
    
    [type="text"] {
        padding-bottom: 5px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #707070;
        resize: none;
        transition: all 0.3s ease 0s;
        &:hover,
        &:focus {
            border-color: #4973ff;
            outline: none;
            box-shadow: 0 8px 8px -5px rgba(73, 115, 255, 0.5);
        }

    }

    [type="email"] {
        padding-bottom: 5px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #707070;
        transition: all 0.3s ease 0s;
        &:hover,
        &:focus {
            border-color: #4973ff;
            outline: none;
            box-shadow: 0 8px 8px -5px rgba(73, 115, 255, 0.5);
        }
    }

    select {
        width: 178px;
        padding: 12px;
        &:focus {
            border-color: #4973ff;
            outline: none;
            box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
        }
        @include mq('sp') {
            width: 100%;
        }
    }
}

.contact_form_radio {
    display: flex;
    margin-bottom: 42px;
    @include mq('sp') {
        display: block;
    }

    [type="radio"] {

    }

    span {

    }

    [type="radio"]:checked + span {

    }
}

.contact_form_textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    textarea {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 200px;
        transition: all 0.3s ease 0s;
        &:hover,
        &:focus {
            border-color: #4973ff;
            outline: none;
            box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
        }

        @include mq('sp') {
            margin-top: 16px;
        }
    }
}

.contact_form_check {
    margin-top: 40px;
    [type="checkbox"] {
        display: none;
        padding: 0;
        margin: 0 20px 0 0;

        @include mq('sp') {
            margin: 0 16px 0 0;
        }
    }
    span {
        display: inline-block;
        padding-left: 40px;
        position: relative;
    
        &::before {
          content: "";
          width: 20px;
          height: 20px;
          background: #fff;
          border: 1px solid $key-color-black;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
    
        &::after {
          content: "";
          position: absolute;
          top: 18%;
          transform: rotate(45deg);
          left: 6px;
          border-right: 2px solid #3B69FF;
          border-bottom: 2px solid #3B69FF;
          background: transparent;
          width: 7px;
          height: 13px;
          display: none;
        }
    
    }

    [type="checkbox"]:checked + span  {
        &::after {
            display: block;
        }
    }
}

.contact_form_button {
    margin-top: 41px;
    @include mq('sp') {
        text-align: center;
        margin-top: 35px;
    }
    [type="submit"]  {
        width: 173px;
        height: 50px;
        border: none;
        font-size: 18px;
        background: $key-color-yellow;
        font-family: $font-ja;
        color: $font-color-white;
        border-radius: 10px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.16);
        transition: background .3s;
        @include mq('sp') {
            width: 165px;
            height: 48px;
        }
    }
}

.contact_message {
    text-align: center;
    font-size: 18px;
    color: $key-color-black;
    font-family: $font-ja;
    margin-bottom: 60px;
    display: none;
    padding: 60px 0;
    &.error {
        color: $key-color-red;
    }
}

/*========================================
footer
========================================*/ 
.footer {
    background: $key-color-black;
    color: $font-color-white;
    padding: 62px 160px;

    @include mq('tab') {
        padding: 62px 0;
    }

    @include mq('sp') {
        padding:60px 0 57px;
        text-align: center;
    }

}

.footer_inner {
    display: flex;

    @include mq('sp') {
        display: block;
    }
}

.footer_left {
    @include mq('sp') {
        margin-bottom: 40px;
    }
}

.footer_sns {
    margin-bottom: 43px;
}

.my_gray {
    color: $key-color-gray;
    opacity: 0.6;
    &:not(:last-child) {
        margin-right: 32px;
        @include mq('sp') {
            margin-right: 50px;
        }
    }

    @include mq('sp') {

    }
}

.footer_policy {
    font-family: $font-ja;
    &:not(:last-child){
        margin-bottom: 24px;
        @include mq('sp') {
            margin-bottom: 24px;
        }
    }
}

.footer_right {
    margin-left: auto;
    font-weight: 500;
}

.footer_title {
    font-size: 40px;
    font-weight: 600;
    font-family: $font-en;
    @include mq('sp') {
        font-size: 32px;
        margin-bottom: 12px;
    }
}

.footer_copy {
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    font-family: $font-ja;

    @include mq('sp') {
        text-align: center;
    }
}

/*========================================
to_top
========================================*/ 

.to_top {
    position: fixed;
    right: 24px;
    bottom: 24px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;

    &.is-show {
        opacity: 1;
        visibility: visible;
    }
    a {
        &:hover {
            opacity: 0.7;
        }
    }

    img {
        width: 50px;
        height: 50px;
    }
}